* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #0c0c0c;
}

.parent {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }


